In [67]:
import numpy as np
import pandas as pd 
from matplotlib import pyplot as plt
import seaborn as sns
from scipy import stats  as stats
from scipy.stats import ttest_1samp, ttest_rel

In [68]:
df = pd.read_csv("C:\\Users\\Dhirender.Jit\\data.csv")

In [69]:
df.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [70]:
df['Old Scheme (in thousands)'] = df['Old Scheme (in thousands)']*1000
df['New Scheme (in thousands)'] = df['New Scheme (in thousands)']*1000

In [71]:
df.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                      57000                      62000
1            2                     103000                     122000
2            3                      59000                      54000
3            4                      75000                      82000
4            5                      84000                      84000

#### Question 1: 
Find the mean of old scheme and new scheme column. (5 points)

In [78]:
old_mean = df['Old Scheme (in thousands)'].mean()
new_mean = df['New Scheme (in thousands)'].mean()
old_sd = df['Old Scheme (in thousands)'].std()
new_sd = df['New Scheme (in thousands)'].std()
print('old_mean is ' + str(old_mean))
print('New_mean is ' + str(new_mean))
print('old_sd is ' + str(old_sd))
print('New_sd is ' + str(new_sd))

old_mean is 68033.33333333333
New_mean is 72033.33333333333
old_sd is 20455.98021207445
New_sd is 24062.39494677769

In [81]:
df['diff'] = df['New Scheme (in thousands)'] - df['Old Scheme (in thousands)']

In [82]:
df.shape

(30, 4)

#### Question 2: 
Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)

* $H_0$: $\mu{NewScheme}$ - $\mu{OldScheme}$ =  0
* $H_A$: $\mu{NewScheme}$ - $\mu{OldScheme}$ >  0

In [87]:
t_statistic, p_value = stats.ttest_rel(df['New Scheme (in thousands)'],df['Old Scheme (in thousands)'])
print(t_statistic)
print(p_value/2)

1.5559143823544377
0.06528776980668831

In [88]:
t_statistic, p_value = stats.ttest_1samp(df['diff'], 0)
print(t_statistic)
print(p_value/2)

1.5559143823544377
0.06528776980668831

#### Question 3: 

What conclusion does the test (p-value) lead to? (2.5 points)

#### Answer

Since p_Value (.0652) is > 0.05 ($\alpha$) , so we fail to reject the null hypothesis. So we can't say that with new scheme there is increase in sale.

#### Question 4:

Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

        a) The probability of a type 1 error? (2.5 points)

        b) What is the p- value of the hypothesis test if we test for a difference of $5000? (5 points)

        c) Power of the test (5 points)

#### Answer a)

Probability of Type I error = significant level = 0.05 or 5%

#### Answe b)